@import url('https://fonts.googleapis.com/css?family=Roboto')

$blue: #2b90d9
$text: #0f0f0f
$grey: #ddd
$white: #fff

html
  font-family: 'Roboto', sans-serif
  font-size: 18px
  letter-spacing: 0.2px

button
  font-size: 100%
  background-color: $blue
  color: $white
  border-style: none
  border-radius: 2px
  padding: 5px 12px

  &:hover
    background-color: darken($blue,10%)

.container
  width: 300px

.recipe-box
  margin-bottom: 20px

.list-item
  background: $grey
  padding: 5px 10px
  margin-bottom: 3px
