@import url('https://fonts.googleapis.com/css?family=Roboto')

$blue: #2b90d9
$text: #0f0f0f
$grey: #ddd
$white: #fff

html
  font-family: 'Roboto', sans-serif
  font-size: 18px
  letter-spacing: .2px
